Importing of GitHub repository

In [1]:
! git clone https://github.com/amrlnic/SQuAD.git

fatal: destination path 'SQuAD' already exists and is not an empty directory.

Importing of necessary libraries

In [2]:
import json
import os
import io
import requests
import pandas as pd
import numpy as np
import tensorflow as tf
import nltk
from nltk import word_tokenize
nltk.download('punkt')
import gensim.downloader as gloader
from sklearn.model_selection import train_test_split
import re
import pickle
import tensorflow as tf

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

Glove download function

In [3]:
EMBEDDING_SIZE = 300

def download_glove_model(embedding_dimension = 50):

  """
  download glove model
  """

  download_path = "glove-wiki-gigaword-{}".format(embedding_dimension)
  try:
    print('[INFO] downloading glove {}'.format(embedding_dimension))
    emb_model = gloader.load(download_path)
    print('[INFO] done !')
  except ValueError as e:
      print("Glove: 50, 100, 200, 300")
      raise e
  return emb_model

Extracting the dataset from the GitHub folder

In [4]:

with open("SQuAD/data/training_set.json") as f:
    data = json.load(f)


def load_dataset(file, record_path = ['data', 'paragraphs', 'qas', 'answers'], verbose = True):

  """
  parse the SQUAD dataset into a dataframe
  """

  if verbose:
      print("Reading the json file")

  if verbose:
      print("[INFO] processing...")

  # parsing different level's in the json file
  js = pd.json_normalize(file , record_path )
  m = pd.json_normalize(file, record_path[:-1] )
  r = pd.json_normalize(file, record_path[:-2])
  t = pd.json_normalize(file, record_path[0])

  title = pd.json_normalize(file['data'], record_path = ['paragraphs'], meta = 'title')

  #combining it into single dataframe
  idx = np.repeat(r['context'].values, r.qas.str.len())
  ndx  = np.repeat(m['id'].values, m['answers'].str.len())
  m['context'] = idx
  m['title'] = np.repeat(title['title'].values, r.qas.str.len())
  js['q_idx'] = ndx
  main = pd.concat([ m[['id','question','context', 'title']].set_index('id'), js.set_index('q_idx')], 1, sort = False).reset_index()
  main['c_id'] = main['context'].factorize()[0]
  if verbose:
      print(f"[INFO] there are {main.shape[0]} questions with single answer")
      print(f"[INFO] there are {main.groupby('c_id').sum().shape[0]} different contexts")
      print(f"[INFO] there are {len(t)} unrelated subjects")
      print("[INFO] Done")
  return main

squad_dataset = load_dataset(data)

Reading the json file
[INFO] processing...
[INFO] there are 87599 questions with single answer
[INFO] there are 18891 different contexts
[INFO] there are 442 unrelated subjects
[INFO] Done

Examining the head of the dataset

In [5]:
squad_dataset.head()

                      index  ... c_id
0  5733be284776f41900661182  ...    0
1  5733be284776f4190066117f  ...    0
2  5733be284776f41900661180  ...    0
3  5733be284776f41900661181  ...    0
4  5733be284776f4190066117e  ...    0

[5 rows x 7 columns]

In [6]:
SAMPLES = squad_dataset.shape[0]

#---lowercase and strip the given text---#
def preprocess_sentence(text): 
  text = text.lower()
  text = text.strip()
  return text
#----------------------------------------#

#---preprocess the dataset---------------#
def clean_dataset(dataset):

  _dataset = dataset.copy()

  cleaned_questions = _dataset['question'].apply(preprocess_sentence)
  cleaned_texts = _dataset['text'].apply(preprocess_sentence)

#---we process only different contexts and then we duplicate them---#
  unique_context = pd.Series(_dataset['context'].unique())
  count_c = _dataset.groupby('c_id').count()['text']
  cleaned_contexts = unique_context.apply(preprocess_sentence)

  _dataset['question'] = cleaned_questions
  _dataset['text'] = cleaned_texts
  _dataset['context'] = pd.Series(np.repeat(cleaned_contexts, count_c).tolist())

  return _dataset
#----------------------------------------#
squad_dataset = clean_dataset(squad_dataset)

Train and validation datasets creation

In [7]:
def get_tokenizer(dataset, glove_model = None):


#----create the word and char tokenizer and feed them on the given dataset----#

  tokenizer = tf.keras.preprocessing.text.Tokenizer(oov_token = 'UNK', filters = '')

  # we will only keep the 200 - 1 most frequent characters (otherwise oom issue)
  # others tokens are replaced by UNK token 
  # we keep 199 most frequent tokens and indice 1 is UNK token (so we keep 198 tokens)

  char_tokenizer = tf.keras.preprocessing.text.Tokenizer(char_level = True, filters = '', oov_token = 'UNK', num_words = 200)

  if glove_model == None:
    glove_model = download_glove_model(EMBEDDING_SIZE)

  tokenized_questions = dataset['question'].apply(word_tokenize).to_list()

  contexts = pd.Series(dataset['context'].unique())
  tokenized_contexts = contexts.apply(word_tokenize).to_list()

  sequences = glove_model.index2entity + tokenized_questions + tokenized_contexts

  del glove_model # we  don't need anymore the glove model

  tokenizer.fit_on_texts(sequences)
  char_tokenizer.fit_on_texts(dataset['question'].to_list() + contexts.to_list())

  return tokenizer, char_tokenizer


def update_tokenizer(dataset, tokenizer, char_tokenizer):

  """
  update the existing word/char vocabulary on a new dataset
  """

  tokenized_questions = dataset['question'].apply(word_tokenize).to_list()

  contexts = pd.Series(dataset['context'].unique())
  tokenized_contexts = contexts.apply(word_tokenize).to_list()

  sequences = tokenized_questions + tokenized_contexts
  tokenizer.fit_on_texts(sequences)

  char_tokenizer.fit_on_texts(dataset['question'].to_list() + contexts.to_list())

def get_start_end(row):

  """
  get the start and end span for each sample,
  if the span cannot be found return -1
  """

  context = row['context']
  answer = row['text']
  tok_answer = word_tokenize(answer)

  _start = context.find(answer)

  if _start == -1:
    # the answer is not in the context
    # maybe due to a typo
    row['start'] = -1
    row['end'] = -1
    return row

  lc = context[:_start]
  lc = word_tokenize(lc)

  start = len(lc)
  end = start + len(tok_answer)

  row['start'] = start
  row['end'] = end

  return row

def tokenize(dataset, tokenizer, char_tokenizer):

  """
  tokenize the given dataset
  """

  _dataset = dataset.copy()

  tokenized_questions = _dataset['question'].apply(word_tokenize).to_list()
  tokenized_contexts = _dataset['context'].apply(word_tokenize).to_list()

  t_q = tokenizer.texts_to_sequences(tokenized_questions)
  t_c = tokenizer.texts_to_sequences(tokenized_contexts)

  c_q = []
  c_c = []

  for question, context in zip(tokenized_questions, tokenized_contexts):
    _q = char_tokenizer.texts_to_sequences(question)
    _c = char_tokenizer.texts_to_sequences(context)
    c_q.append(_q)
    c_c.append(_c)

  _dataset['tokenized_question'] = t_q
  _dataset['tokenized_context'] = t_c

  _dataset['char_tokenized_question'] = c_q
  _dataset['char_tokenized_context'] = c_c

  return _dataset

def split(dataset, test_size = 0.2, random_state = 42):

  """
  split the dataset in two part: the training and the validation
  """

  # random_state for deterministic state
  tr, vl = train_test_split(dataset, test_size = test_size, random_state = random_state)
  tr.reset_index(drop = True, inplace = True)
  vl.reset_index(drop = True, inplace = True)

  return tr,vl

def df_to_json(df, path):

  """
  parse the given dataframe into the SQUAD json format
  """
  
  data = []

  for title, articles in df.groupby('title'):
    chapter = {'title': title}
    paragraphs = []
    for context, contents in articles.groupby('context'):
      paragraph = {'context': context}
      qas = []
      for i, content in contents.iterrows():
        qa = {'answers': [{'answer_start': content['answer_start'], 'text': content['text']}], 'question': content['question'], 'id': content['index']}
        qas.append(qa)
      paragraph.update({'qas': qas})
      paragraphs.append(paragraph)
    chapter.update({'paragraphs': paragraphs})
    data.append(chapter)
  raw_data = {'data': data}

  with open(path, 'w') as handle:
    json.dump(raw_data, handle)

  print(f'dataset saved in {path}')

In [8]:
tr_df, vl_df = split(squad_dataset)
tr_df.shape[0],vl_df.shape[0]

(70079, 17520)

Our vocabulary is based on the Glove vocabulary, and we add terms from the training set

In [9]:
tokenizer, char_tokenizer = get_tokenizer(tr_df)

[INFO] downloading glove 300
[INFO] done !

In [10]:
print(len(tokenizer.word_index))
len(char_tokenizer.word_index)

429064

1263

We then update our vocabulary with terms from the validation set

In [11]:
update_tokenizer(vl_df, tokenizer, char_tokenizer)
print(len(tokenizer.word_index))
len(char_tokenizer.word_index)

429758

1265

Training and validation datasets update

In [12]:
# take a while
tr_df = tr_df.apply(get_start_end, axis = 1)
vl_df = vl_df.apply(get_start_end, axis = 1)

we get rid of samples where the answer doesn't match the context (maybe there is a typo in the answer or the context).  
To avoid to discard many samples, we could lemmatize / stem the text.   
Obviously, lemmatization is a better choice for our task, but if we want a really accurate lemmatization processing, we need to do POS tagging.

In [13]:
tr_df[tr_df['start'] == -1].shape[0], vl_df[vl_df['start'] == -1].shape[0]

(69, 15)

In [14]:
tr_df[tr_df['start'] == -1]

                          index  ... end
87     56de31984396321400ee2672  ...  -1
3133   56e17f5de3433e1400422f8c  ...  -1
3983   56e1b97fcd28a01900c67ad8  ...  -1
6198   56e1b4decd28a01900c67a91  ...  -1
6994   56e1b738cd28a01900c67aae  ...  -1
...                         ...  ...  ..
66889  572e8003c246551400ce425f  ...  -1
66972  572e81f2cb0c0d14000f1206  ...  -1
67376  572e8578c246551400ce42bd  ...  -1
69867  56e180f5e3433e1400422f96  ...  -1
69923  56e17f5de3433e1400422f90  ...  -1

[69 rows x 9 columns]

In [15]:
vl_df[vl_df['start'] == -1]

                          index  ... end
171    56e18a90e3433e1400422fac  ...  -1
1536   56e1a3cbe3433e1400423066  ...  -1
3007   56e18710cd28a01900c679b9  ...  -1
4925   56e1b4decd28a01900c67a8e  ...  -1
5782   56e18bfbe3433e1400422fb5  ...  -1
5897   56e18710cd28a01900c679b7  ...  -1
5937   56e18bfbe3433e1400422fb4  ...  -1
6561   56e1b264e3433e14004230a6  ...  -1
7378   572e81f2cb0c0d14000f1207  ...  -1
11252  56e17b08cd28a01900c679af  ...  -1
11511  56de31f34396321400ee2680  ...  -1
12438  56e188e4cd28a01900c679c0  ...  -1
16218  56e180f5e3433e1400422f97  ...  -1
16474  56e1b738cd28a01900c67aaf  ...  -1
17282  56e18bfbe3433e1400422fb6  ...  -1

[15 rows x 9 columns]

In [16]:
print(len(tr_df))
print(len(vl_df))

70079
17520

Now we get rid of samples where the answer doesn't match the context

In [17]:
# we get rid of samples where the answer doesn't match the context
tr_df = tr_df[tr_df['start'] != -1]
vl_df = vl_df[vl_df['start'] != -1]

We also need to eliminate samples where the answer is after the context.

In [18]:
test = 20461


print(tr_df.iloc[test]['answer_start'])
print(len(tr_df.iloc[test]['text']))
print(len(tr_df.iloc[test]['context']))
print()
print(tr_df.iloc[test]['text'])
#print(tr_df.iloc[test]['context'])
print()
tr_df.iloc[test][2]
#tr_df.iloc[test]['answer_start'] + len(tr_df.iloc[test]['text']) >= len(tr_df.iloc[test]['context'])

301
67
629

at least one appointee from the state where the project is to occur

'the question to be answered is whether a listed species will be harmed by the action and, if so, how the harm can be minimized. if harm cannot be avoided, the project agency can seek an exemption from the endangered species committee, an ad hoc panel composed of members from the executive branch and at least one appointee from the state where the project is to occur. five of the seven committee members must vote for the exemption to allow taking (to harass, harm, pursue, hunt, shoot, wound, kill, trap, capture, or collect, or significant habitat modification, or to attempt to engage in any such conduct) of listed species.'

In [28]:
#tr_df[ tr_df['answer_start'] + len(tr_df['text']) >= len(tr_df['context']) ]
#tr_df['answer_start'] + len(tr_df['text']) >= len(tr_df['context']) 
tr_mask = np.array([ tr_df.iloc[k]['answer_start'] + len(tr_df.iloc[k]['text']) < len(tr_df.iloc[k]['context']) for k in range(len(tr_df)) ])
vl_mask = np.array([ vl_df.iloc[k]['answer_start'] + len(vl_df.iloc[k]['text']) < len(vl_df.iloc[k]['context']) for k in range(len(vl_df)) ])

In [21]:
#debug window
"""
tr_df[ mask ].iloc[0]['answer_start'] + len(tr_df[mask].iloc[0]['text'])
print(tr_df[ mask ].iloc[0]['answer_start'])
print(tr_df[mask].iloc[0]['text'])
print(len(tr_df[mask].iloc[0]['text']))
print(tr_df[mask].iloc[0]['context'])
print(len(tr_df[mask].iloc[0]['context']))
print()
print(tr_df[mask].iloc[0]['context'][195:])
"""

"\ntr_df[ mask ].iloc[0]['answer_start'] + len(tr_df[mask].iloc[0]['text'])\nprint(tr_df[ mask ].iloc[0]['answer_start'])\nprint(tr_df[mask].iloc[0]['text'])\nprint(len(tr_df[mask].iloc[0]['text']))\nprint(tr_df[mask].iloc[0]['context'])\nprint(len(tr_df[mask].iloc[0]['context']))\nprint()\nprint(tr_df[mask].iloc[0]['context'][195:])\n"

In [29]:
tr_df[tr_mask]

                          index  ...  end
0      572667e6708984140094c4f9  ...   30
1      56dec2483277331400b4d712  ...   25
2      5726e5995951b619008f81bb  ...   43
3      5726486f708984140094c157  ...  162
4      5730299db2c2fd14005689a7  ...   75
...                         ...  ...  ...
70073  57320f26e17f3d1400422651  ...  141
70074  56d12d3c17492d1400aabb6b  ...  121
70075  5727c461ff5b5019007d94b1  ...   28
70076  57343f804776f41900661afa  ...  151
70077  56bec9f13aeaaa14008c9467  ...   59

[69572 rows x 9 columns]

In [30]:
vl_df[vl_mask]

                          index  ...  end
0      56de4d9ecffd8e1900b4b7e2  ...   27
1      572674a05951b619008f7319  ...  147
2      5730bb058ab72b1400f9c72c  ...   78
3      572781a5f1498d1400e8fa1f  ...   19
4      572843ce4b864d190016485c  ...   53
...                         ...  ...  ...
17515  570b4f4dec8fbc190045b976  ...   77
17516  571a2b2410f8ca1400304f2a  ...   78
17517  572970803f37b319004783c8  ...   95
17518  572acb23f75d5e190021fcdb  ...   21
17519  5726a975708984140094cd39  ...   63

[17394 rows x 9 columns]

In [25]:
~tr_mask

array([ True,  True,  True, ...,  True,  True, False])

In [32]:
# we get rid of samples where we have answer overflow
tr_df2 = tr_df[tr_mask] 
vl_df2 = vl_df[vl_mask]

In [33]:
print(len(tr_df2))
print(len(vl_df2))

69572
17394

In [34]:
tr_df2 = tokenize(tr_df2, tokenizer, char_tokenizer)
vl_df2 = tokenize(vl_df2, tokenizer, char_tokenizer)

Now we explore the cleaned datasets

In [35]:
tr_df2.head()

                      index  ...                             char_tokenized_context
0  572667e6708984140094c4f9  ...  [[5, 17, 4, 3, 10], [8, 24, 3, 10], [5], [13, ...
1  56dec2483277331400b4d712  ...  [[9, 14, 11, 20, 5, 10, 39, 3, 7, 3, 19, 19, 3...
2  5726e5995951b619008f81bb  ...  [[6, 4], [11, 5, 9], [22, 3, 3, 7], [8, 22, 9,...
3  5726486f708984140094c157  ...  [[5, 17, 4, 3, 10], [10, 3, 4, 15, 10, 7, 6, 7...
4  5730299db2c2fd14005689a7  ...  [[22, 21], [28, 40, 31, 29], [23], [14, 11, 5,...

[5 rows x 13 columns]

In [36]:
print(tr_df2['tokenized_question'].str.len().describe())
vl_df2['tokenized_question'].str.len().describe()

count    69572.000000
mean        11.274579
std          3.714049
min          1.000000
25%          9.000000
50%         11.000000
75%         13.000000
max         60.000000
Name: tokenized_question, dtype: float64

count    17394.000000
mean        11.336438
std          3.754368
min          1.000000
25%          9.000000
50%         11.000000
75%         13.000000
max         38.000000
Name: tokenized_question, dtype: float64

In [37]:
print(tr_df2['tokenized_question'].str.len().quantile(0.99))
vl_df2['tokenized_question'].str.len().quantile(0.99)

22.0

23.0

In [38]:
print(tr_df2['tokenized_context'].str.len().describe())
vl_df2['tokenized_context'].str.len().describe()

count    69572.000000
mean       137.928678
std         56.993429
min         22.000000
25%        102.000000
50%        127.000000
75%        164.000000
max        766.000000
Name: tokenized_context, dtype: float64

count    17394.000000
mean       137.330229
std         55.948282
min         22.000000
25%        102.000000
50%        126.000000
75%        163.000000
max        766.000000
Name: tokenized_context, dtype: float64

In [39]:
print(tr_df2['tokenized_context'].str.len().quantile(0.99))
vl_df2['tokenized_context'].str.len().quantile(0.99)

324.0

324.0

In [40]:
def len_words(dataset):

  """
  return the word's length
  """

  count_q = []
  count_c = []

  for idx, row in dataset.iterrows():
    for w in row['char_tokenized_question']:
      l = len(w)
      count_q.append(l)
      
    for w in row['char_tokenized_context']:
      m = len(w)
      count_c.append(m)
  
  return pd.Series(count_q), pd.Series(count_c)

t_q,t_c = len_words(tr_df2)
v_q,v_c = len_words(vl_df2)

In [41]:
print(t_q.describe())
t_c.describe()

count    784395.000000
mean          4.447990
std           2.677571
min           1.000000
25%           2.000000
50%           4.000000
75%           6.000000
max          30.000000
dtype: float64

count    9.595974e+06
mean     4.625712e+00
std      2.969451e+00
min      1.000000e+00
25%      2.000000e+00
50%      4.000000e+00
75%      7.000000e+00
max      3.700000e+01
dtype: float64

In [42]:
print(v_q.describe())
v_c.describe()

count    197186.000000
mean          4.452943
std           2.686307
min           1.000000
25%           2.000000
50%           4.000000
75%           6.000000
max          24.000000
dtype: float64

count    2.388722e+06
mean     4.629325e+00
std      2.972493e+00
min      1.000000e+00
25%      2.000000e+00
50%      4.000000e+00
75%      7.000000e+00
max      3.700000e+01
dtype: float64

In [43]:
print(t_q.quantile(0.99))
t_c.quantile(0.99)

12.0

13.0

In [44]:
print(v_q.quantile(0.99))
v_c.quantile(0.99)

12.0

13.0

There are obviously some outliers. We are compeled to get rid of some samples because of memory issues.

We will get rid of contexts that have more than 350 characters and questions that have more than 25 words.

We will set the length of a word to 15 characters

**EDIT :** These numbers are huge but we won't get out of memory errors if we build a sequence generator. If you don't want to use the sequence generator, you should reduce these numbers.

In [46]:
QUESTION_MAXLEN = 25
CONTEXT_MAXLEN = 350
WORD_MAXLEN = 15
BATCH_SIZE = 10

In [47]:
tr_df2.shape, vl_df2.shape

((69572, 13), (17394, 13))

In [48]:
tr_df3 = tr_df2[(tr_df2['tokenized_question'].str.len() <= QUESTION_MAXLEN) & (tr_df2['tokenized_context'].str.len() <= CONTEXT_MAXLEN) & (tr_df2['start'] <= CONTEXT_MAXLEN) & (tr_df2['end'] <= CONTEXT_MAXLEN) ].reset_index(drop = True)
vl_df3 = vl_df2[(vl_df2['tokenized_question'].str.len() <= QUESTION_MAXLEN) & (vl_df2['tokenized_context'].str.len() <= CONTEXT_MAXLEN) & (vl_df2['start'] <= CONTEXT_MAXLEN) & (vl_df2['end'] <= CONTEXT_MAXLEN) ].reset_index(drop = True)

In [49]:
tr_df3.shape[0], vl_df3.shape[0]

(68920, 17237)

In [50]:
 print(f' we get rid of : {SAMPLES - (tr_df3.shape[0] + vl_df3.shape[0])} samples')

 we get rid of : 1442 samples

In [51]:
# save datasets in json format
path_to_train_set = os.path.join(os.getcwd(), 'BERT_train_set3.json')
df_to_json(tr_df3, path_to_train_set)

path_to_valid_set = os.path.join(os.getcwd(), 'BERT_valid_set3.json')
df_to_json(vl_df3, path_to_valid_set)

dataset saved in /content/BERT_train_set3.json
dataset saved in /content/BERT_valid_set3.json